# Ignore all
*

# Don't ignore directories, so we can recurse into them
!*/
/release
/tmp
/node_modules

# Don't ignore
!.gitignore
!*.md
!*.tex
!*.bib
!*.pdf
!*.def
!*.cls
!*.sty
!*.png
!*.travis.yml
!*.profile
!*.sh
!*.makefile
!*.cwl

# explicit ignore
source/test-doc.pdf
source/test-doc.tex