# Ignore all
*

# Don't ignore directories, so we can recurse into them
!*/

# Don't ignore
!.gitignore
!*.md
!*.tex
!*.bib
!*.pdf
!*.def
!*.cls
!*.sty
!*.png
!*.travis.yml
!*.profile
!*.sh
!*.makefile
